<div style="text-align: center;">
  <img src="http://graph.facebook.com/<%= @venue['facebook'] %>/picture?type=large" id="facebookImage" />
</div>

<h1 style="margin-bottom: 0"><%= @venue["name"] %></h1>
<p style="margin-top: 5px"><small>set times</small></p>

<hr />

<h2>Main act times:</h2> 
<h4>from <b><%= @venue["main-set"]["start"] %></b> until <b><%= @venue["main-set"]["start"] %></b></h4>

<%= File.read("./views/contribute.html") %>
